body {
      background-image: url('BG.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    color: rgb(191, 194, 27);
    font-size: 64px;
    text-align: center;
    text-underline-offset: 23;
}

h2 {
    color: maroon;
    font-size: 38px;
}

h4 {
    color: chocolate;
    font-size: 32px;
}

li {
    color: black;
    font-size: 32px;
}

a {
    color: darkblue;
    text-decoration: none;
}